Options -Indexes
DirectoryIndex index.html

# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# www to non-www
RewriteCond %{HTTP_HOST} ^www\.aesopacademy\.org [NC]
RewriteRule ^(.*)$ https://aesopacademy.org/$1 [L,R=301]

# Custom 404
ErrorDocument 404 /index.html
